@media (max-width: 768px) {
  .global-nav-container {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
  }

  main {
    position: absolute;
    top: 50px;
  }
  main .sidebar-nav {
    position: fixed;
    height: calc(100vh - 50px);
    width: 100%;
    left: -100%;
    transition-duration: 0.5s;
    z-index: 3;
  }
  main .sidebar--extended {
    left: 0;
  }
  main .content-container {
    z-index: 1;
  }

  .chart iframe {
    height: 250px;
    width: 100%;
  }

  .weather-card {
    height: 60px;
  }
  .weather-card .center-box {
    padding-left: 0 !important;
  }
  .weather-card .center-box .box-weather img {
    height: 80px;
  }

  .card-red, .card-green, .card-blue {
    height: 60px;
  }

  .card .chart-info {
    padding: 10px 30px;
  }
  .card .center-box {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  .card .center-box .box-title {
    font-size: 18px;
    margin-right: 20px;
  }
  .card .center-box .box-value {
    font-size: 22px;
  }
}
@media (min-width: 768px) {
  .global-nav-container .global-nav .logo a {
    transition-duration: 0.5s;
  }
  .global-nav-container .global-nav .logo a:hover {
    background-color: #E4E4F6;
    color: #222222;
  }
  .global-nav-container .global-nav .global-nav-links li a {
    transition-duration: 0.5s;
  }
  .global-nav-container .global-nav .global-nav-links li a:hover {
    background-color: #E4E4F6;
    color: #222222;
  }

  main .sidebar-nav {
    position: relative;
    width: 250px;
    display: none;
  }
  main .sidebar-nav .sidebar-nav-links > .nav-item > a {
    transition-duration: 0.5s;
  }
  main .sidebar-nav .sidebar-nav-links > .nav-item > a .sidebar-icon {
    transition-duration: 0.5s;
  }
  main .sidebar-nav .sidebar-nav-links > .nav-item > a:hover {
    background-color: #E4E4F6;
    color: #000000;
  }
  main .sidebar-nav .sidebar-nav-links > .nav-item > a:hover #ic-chart {
    background-image: url("/images/svg/sidebar/chart-active.svg");
  }
  main .sidebar-nav .sidebar-nav-links > .nav-item > a:hover #ic-writing {
    background-image: url("/images/svg/sidebar/writing-active.svg");
  }
  main .sidebar-nav .sidebar-nav-links > .nav-item > a:hover #ic-increasing-chart {
    background-image: url("/images/svg/sidebar/increasing-chart-active.svg");
  }
  main .sidebar-nav .sidebar-nav-links > .nav-item .sidebar-detail-nav-links a:hover {
    background-color: #E4E4F6;
    color: #000000 !important;
  }
  main .sidebar--extended {
    display: block !important;
  }
  main .content-container--reduced {
    width: calc(100% - 250px) !important;
  }

  .weather-card {
    height: 150px;
  }
  .weather-card .box-weather span {
    padding-right: 20px;
  }
  .weather-card .box-weather-small {
    padding-bottom: 15px;
  }

  .card-red, .card-green, .card-blue {
    height: 150px;
  }

  .card .chart-info {
    padding: 10px 60px;
  }
  .card .center-box {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .card .center-box .box-title {
    font-size: 20px;
    padding-bottom: 20px;
  }
  .card .center-box .box-value {
    font-size: 30px;
  }
}
@font-face {
  font-family: Apple SD Gothic Neo;
  src: url("../fonts/apple/AppleSDGothicNeoR.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Apple SD Gothic Neo;
  src: url("../fonts/apple/AppleSDGothicNeoM.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Apple SD Gothic Neo;
  src: url("../fonts/apple/AppleSDGothicNeoL.ttf");
  font-weight: 300;
}
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: Noto Sans KR;
  src: url("../fonts/NotoSansKR-Light.otf");
  font-weight: 300;
}
@font-face {
  font-family: Noto Sans KR;
  src: url("../fonts/NotoSansKR-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: Noto Sans KR;
  src: url("../fonts/NotoSansKR-Medium.otf");
  font-weight: 500;
}
html {
  min-height: 100vh;
}

body {
  font-family: Apple SD Gothic Neo, Noto Sans KR, sans-serif;
  min-height: 100vh;
}

a:hover {
  text-decoration: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  float: right;
  padding: 0 21px 0 5px;
  background: url("/images/svg/combobox_arrow.svg") no-repeat 90% 37%;
  margin-left: 10px;
}
select option {
  text-align: right;
}

select:last-child {
  background: url("/images/svg/combobox_arrow.svg") no-repeat 90% 37%;
}

.global-nav-container {
  position: relative;
  height: 50px;
  color: #222222;
  background-color: #FFFFFF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 100;
}
.global-nav-container .global-nav {
  height: 100%;
  display: flex;
}
.global-nav-container .global-nav .logo {
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: auto;
}
.global-nav-container .global-nav .logo a {
  display: flex;
  align-items: center;
  color: #222222;
  height: 100%;
  padding: 0 14px;
}
.global-nav-container .global-nav .logo a #logo-image {
  height: 35px;
  width: 35px;
  background: url("../images/svg/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  text-indent: -9999px;
  position: relative;
  top: 2px;
  left: 2px;
}
.global-nav-container .global-nav .global-nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 14px;
}
.global-nav-container .global-nav .global-nav-links li {
  display: flex;
  align-items: center;
  height: 100%;
}
.global-nav-container .global-nav .global-nav-links li a {
  display: flex;
  align-items: center;
  padding: 10px;
  height: 100%;
  color: #222222;
}
.global-nav-container .global-nav .global-nav-links li a #menu-toggle-btn-image {
  height: 21px;
  width: 20px;
  background: url("../images/svg/menu.svg");
  text-indent: -9999px;
}

main {
  display: flex;
  min-height: calc(100vh - 50px);
  width: 100%;
}
main .sidebar-nav {
  background-color: #FFFFFF;
  color: #444444;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 99;
}
main .sidebar-nav .sidebar-nav-links > .nav-item {
  transition-duration: 0.5s;
}
main .sidebar-nav .sidebar-nav-links > .nav-item > a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 20px;
  color: #444444;
  font-size: 17px;
}
main .sidebar-nav .sidebar-nav-links > .nav-item > a div {
  display: flex;
  align-items: center;
}
main .sidebar-nav .sidebar-nav-links > .nav-item > a div span {
  position: relative;
  top: 1px;
}
main .sidebar-nav .sidebar-nav-links > .nav-item > a div .sidebar-icon {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  background-size: 20px 20px;
}
main .sidebar-nav .sidebar-nav-links > .nav-item > a div #ic-chart {
  background-image: url("/images/svg/sidebar/chart.svg");
}
main .sidebar-nav .sidebar-nav-links > .nav-item > a div #ic-writing {
  background-image: url("/images/svg/sidebar/writing.svg");
}
main .sidebar-nav .sidebar-nav-links > .nav-item > a div #ic-increasing-chart {
  background-image: url("/images/svg/sidebar/increasing-chart.svg");
}
main .sidebar-nav .sidebar-nav-links > .nav-item > a img {
  transition-duration: 0.5s;
  height: 10px;
  margin-left: auto;
}
main .sidebar-nav .sidebar-nav-links > .nav-item .sidebar-detail-nav-links {
  overflow: hidden;
}
main .sidebar-nav .sidebar-nav-links > .nav-item .sidebar-detail-nav-links > .nav-item {
  height: 0;
  transition-duration: 0.5s;
}
main .sidebar-nav .sidebar-nav-links > .nav-item .sidebar-detail-nav-links > .nav-item > a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 30px;
  color: #444444;
  font-size: 15px;
  transition-duration: 0.5s;
}
main .sidebar-nav .sidebar-nav-links--extended > a {
  background-color: #E4E4F6 !important;
  color: #000000 !important;
}
main .sidebar-nav .sidebar-nav-links--extended > a #ic-chart {
  background-image: url("/images/svg/sidebar/chart-active.svg") !important;
}
main .sidebar-nav .sidebar-nav-links--extended > a #ic-writing {
  background-image: url("/images/svg/sidebar/writing-active.svg") !important;
}
main .sidebar-nav .sidebar-nav-links--extended > a #ic-increasing-chart {
  background-image: url("/images/svg/sidebar/increasing-chart-active.svg") !important;
}
main .sidebar-nav .sidebar-nav-links--extended > a > img {
  transform: rotate(90deg);
}
main .sidebar-nav .sidebar-nav-links--extended .sidebar-detail-nav-links > .nav-item {
  height: 40px !important;
}
main .content-container {
  position: relative;
  width: 100%;
  z-index: 98;
}
main .content-container .content-main {
  display: flex;
  height: 100%;
  background-color: #F5F5F5;
}
.container-fluid {
  padding: 20px;
}

.row {
  margin: 0 -10px;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding: 0 10px 20px 10px;
}

.container-title {
  color: #676767;
  font-size: 25px;
  font-weight: 500;
}

.card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 3px;
  color: #222222;
  font-size: 14px;
  border: none;
}
.card .card-title {
  font-size: 16px;
  padding: 10px 15px;
  margin: 0;
}
.card .chart-info {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #dce0e4;
}
.card .chart-info .info-item {
  text-align: center;
}
.card .chart-info .info-item .info-value {
  font-size: 16px;
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  justify-content: center;
}
.card .chart-info .info-item .info-value img {
  margin-right: 1px;
}
.card .chart-info .info-item .info-value span {
  padding-top: 2px;
}
.card .chart-info .info-item .info-description {
  color: #AAAAAA;
  font-weight: 300;
  font-size: 15px;
}
.card .chart-info .info-item .info-value--increase {
  color: #EC407A;
}
.card .chart-info .info-item .info-value--decrease {
  color: #02AAF6;
}
.card .center-box {
  display: flex;
  height: 100%;
}
.card .center-box .box-title {
  font-weight: 500;
  text-align: center;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.24);
}
.card .center-box .box-value {
  font-weight: 500;
  text-align: center;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.24);
}
.card .chart {
  height: 300px;
  width: 99.9%;
}
.card .chart iframe {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.weather-card .box-weather {
  display: flex;
  align-items: center;
}
.weather-card .box-weather span {
  font-size: 30px;
  padding-top: 4px;
}
.weather-card .box-weather-small {
  display: flex;
  align-items: center;
}
.weather-card .box-weather-small img {
  padding-right: 9px;
}
.weather-card .box-weather-small span {
  position: relative;
  top: 2px;
  font-size: 17px;
}

.status-card {
  height: 150px;
}
.status-card .status-list {
  border-top: 1px solid #dce0e4;
  padding-left: 15px;
}
.status-card .status-list .status-item {
  display: flex;
  align-items: center;
  height: 35px;
}
.status-card .status-list .status-item span {
  margin-right: 15px;
}

.card-red, .card-green, .card-blue {
  color: #FFFFFF;
}

.card-red {
  background-color: #EC407A;
}

.card-green {
  background-color: #00D9BF;
}

.card-blue {
  background-color: #02AAF6;
}

.table {
  margin-bottom: 0;
}
.table td span {
  padding-top: 0 !important;
}

.table-custom1 {
  font-size: 15px;
}
.table-custom1 thead {
  border-bottom: 1px solid #dce0e4;
  text-align: center;
}
.table-custom1 thead td, .table-custom1 thead th {
  font-weight: 400;
  padding: 6px 15px;
  position: relative;
  top: 2px;
}
.table-custom1 tbody {
  text-align: center;
}
.table-custom1 tbody td, .table-custom1 tbody th {
  font-weight: 400;
  padding: 8px 15px;
}
.table-custom1 tbody th {
  position: relative;
  top: 2px;
}

.table-custom2 {
  font-size: 15px;
  width: 100%;
  margin-top: 1px;
}
.table-custom2 thead {
  border-bottom: 3px double #dce0e4;
  text-align: center;
}
.table-custom2 thead td, .table-custom2 thead th {
  font-weight: 400;
  padding: 15px 12px 12px 12px;
}
.table-custom2 tbody {
  text-align: center;
}
.table-custom2 tbody td, .table-custom2 tbody th {
  font-weight: 400;
  padding: 13px 12px 12px 12px;
}

#pie-chart {
  height: 177px;
  width: 99.9%;
}

.login-container {
  height: calc(100vh - 20px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-container .login-content {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=main.css.map */
