@import "main_common";

.global-nav-container {

  .global-nav {

    .logo {

      a {
        transition-duration: 0.5s;
  
        &:hover {
          background-color: $headerHoverBackgroundColor;
          color: $headerFontColor;
        }
      }
    }
    
    .global-nav-links {

      li {

        a {
          transition-duration: 0.5s;

          &:hover {
            background-color: $headerHoverBackgroundColor;
            color: $headerFontColor;
          }
        }
      }
    }
  }
}

main {

  .sidebar-nav {
    position: relative;
    width: $sidebarWidth;
    display: none;

    .sidebar-nav-links {

      >.nav-item {

        >a {
          transition-duration: 0.5s;

          &:hover {
            background-color: $sidebarHoverBackgroundColor;
            color: $sidebarHoverFontColor;
            
            #ic-chart {
              background-image: url("/images/svg/sidebar/chart-active.svg");
            }
  
            #ic-writing {
              background-image: url("/images/svg/sidebar/writing-active.svg");
            }
          }
        }
        
        .sidebar-detail-nav-links {
        
          a {
            
            &:hover {
              background-color: $sidebarHoverBackgroundColor;
              color: $sidebarHoverFontColor !important;
            }
          }
        }
      }
    }
  }
  
  .sidebar--extended {
    display: block !important;
  }
  
  .content-container--reduced {
    width: calc(100% - #{$sidebarWidth}) !important;
  }
}

.weather-card {
  height: 150px;
  
  .box-weather {
    span {
      padding-right: 20px;
    }
  }
  
  .box-weather-small {
    padding-bottom: 15px;
  }
}

.card-red, .card-green, .card-blue {
  height: 150px;
}

.card {
  
  .chart-info {
    padding: 10px 60px;
  }
  
  .center-box {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .box-title {
      font-size: 20px;
      padding-bottom: 20px;
    }
    
    .box-value {
      font-size: 30px;
    }
  }
}