@import "main_common";

.global-nav-container {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

main {
  position: absolute;
  top: $headerHeight;
  
  .sidebar-nav {
    position: fixed;
    height: calc(100vh - #{$headerHeight});
    width: 100%;
    left: -100%;
    transition-duration: 0.5s;
    z-index: 3;
  }
  
  .sidebar--extended {
    left: 0;
  }
  
  .content-container {
    z-index: 1;
  }
}

.chart {
  
  iframe {
    height: 250px;
    width: 100%;
  }
}

.weather-card {
  height: 60px;
  
  .center-box {
    padding-left: 0 !important;
  
    .box-weather {
    
      img {
        height: 80px;
      }
    }
  }
}

.card-red, .card-green, .card-blue {
  height: 60px;
}

.card {
  
  .chart-info {
    padding: 10px 30px;
  }
  
  .center-box {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    
    .box-title {
      font-size: 18px;
      margin-right: 20px;
    }
    
    .box-value {
      font-size: 22px;
    }
  }
}