// header
$headerFontColor: #FFFFFF;
$headerBackgroundColor: #5A3D63;
$headerHoverBackgroundColor: #815C8D;
$headerHeight: 50px;

// sidebar
$sidebarFontColor: #FFFFFF;
$sidebarBackgroundColor: #3C2942;
$sidebarHoverBackgroundColor: #553D5C;
$sidebarWidth: 250px;


@font-face {
  font-family: Roboto;
  src: url("fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: Noto Sans KR;
  src: url("fonts/NotoSansKR-Regular.otf");
}

html {
  min-height: 100vh;
}

body {
  font-family: Roboto, Noto Sans KR, sans-serif;
  min-height: 100vh;
}

.global-nav-container {
  height: $headerHeight;
  color: $headerFontColor;
  background-color: $headerBackgroundColor;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  
  .global-nav {
    height: 100%;
    display: flex;
    padding: 0 14px;
    
    .logo {
      height: 100%;
      display: flex;
      align-items: center;
      margin-right: auto;
  
      a {
        display: flex;
        align-items: center;
        color: $headerFontColor;
  
        .logo-image {
          height: 35px;
          width: 35px;
          background: url("../images/svg/logo.svg");
          background-size: contain;
          background-repeat: no-repeat;
          text-indent: -9999px;
          transition-duration: 0.5s;
          position: relative;
          top: 2px;
          left: 2px;
    
          &:hover {
            background: url("../images/svg/logo-active.svg");
            background-size: contain;
            background-repeat: no-repeat;
          }
        }
      }
    }
    
    .global-nav-links {
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      li {
        display: flex;
        align-items: center;
        height: 100%;
  
        a {
          display: flex;
          align-items: center;
          padding: 10px;
          height: 100%;
          color: $headerFontColor;
          transition-duration: 0.5s;
    
          &:hover {
            background-color: $headerHoverBackgroundColor;
          }
        }
      }
    }
  }
}


main {
  display: flex;
  min-height: calc(100vh - #{$headerHeight});
  
  .sidebar-nav {
    background-color: $sidebarBackgroundColor;
    color: $sidebarFontColor;
    width: 0;
    
    .sidebar-nav-links {
      
      .nav-time {
        height: 50px;
        
        a {
          display: flex;
          align-items: center;
          width: 100%;
          height: 100%;
          padding: 20px;
          color: $sidebarFontColor;
          transition-duration: 0.5s;
          font-size: 14px;
          
          img {
            height: 10px;
            margin-left: auto;
          }
          
          &:hover {
            background-color: $sidebarHoverBackgroundColor;
          }
        }
      }
    }
  }
}

.content-container {
  width: 100%;
  padding: 20px;
}

.chart {
  width: 100%;
  border: 2px solid #DFDFDF;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  
  iframe {
    height: 40vw;
    width: 100%;
  }
}