{% set title = "탄소배출량 산정 시스템 : CO2 배출량 - 종합" %}
{% extends "layout/base.html" %}

{%  block content -%}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="container-title">
                <span>CO2 배출량 - 종합</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4">
            <div class="card card-red">
                <div class="center-box">
                    <div class="box-title">
                        <span>올해 누적 CO2 배출량</span>
                    </div>
                    <div class="box-value">
                        <span>455,240,000t</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="card card-green">
                <div class="center-box">
                    <div class="box-title">
                        <span>올해 남은 허용 CO2 배출량</span>
                    </div>
                    <div class="box-value">
                        <span>72,850,000t</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="card card-blue">
                <div class="center-box">
                    <div class="box-title">
                        <span>올해 남은 허용 CO2 배출량</span>
                    </div>
                    <div class="box-value">
                        <span>72,850,000t</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-title">
                    <span>오늘 CO2 배출량</span>
                </div>
                <div class="chart">
                    <iframe src="http://34.64.238.233:3000/d-solo/i7n74InMk/emissions?orgId=1&refresh=5s&from=now-15m&to=now&theme=light&panelId=2" frameborder="0"></iframe>
                </div>
                <ul class="chart-info">
                    <li class="info-item">
                        <div class="info-value">
                            <span>20,000t</span>
                        </div>
                        <div class="info-description">
                            <span>오늘 누적 CO2 배출량</span>
                        </div>
                    </li>
                    <li class="info-item">
                        <div class="info-value info-value--increase">
                            <img src="images/svg/increase_arrow.svg" alt=""><img src="" alt="">
                            <span>14.5%</span>
                        </div>
                        <div class="info-description">
                            <span>이번 달 평균 대비</span>
                        </div>
                    </li>
                    <li class="info-item">
                        <div class="info-value">
                            <span>123,456</span>
                        </div>
                        <div class="info-description">
                            <span>다른 어떤 데이터</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card">
                <div class="card-title">
                    <span>지난 CO2 배출량</span>
                    <select id="past-emission-chart-date-selector">
                        <option value="2020-01">2020-01</option>
                        <option value="2020-02">2020-02</option>
                        <option value="2020-03">2020-03</option>
                        <option value="2020-04">2020-04</option>
                    </select>
                </div>
                <div class="chart">
                    <iframe id="past-emission-chart-home" src="http://34.64.238.233:3000/d-solo/i7n74InMk/emissions?orgId=1&refresh=5s&from=now-15m&to=now&theme=light&panelId=2" frameborder="0"></iframe>
                </div>
                <ul class="chart-info">
                    <li class="info-item">
                        <div class="info-value">
                            <span>20,000t</span>
                        </div>
                        <div class="info-description">
                            <span>총 CO2 배출량</span>
                        </div>
                    </li>
                    <li class="info-item">
                        <div class="info-value info-value--decrease">
                            <img src="images/svg/decrease_arrow.svg" alt="">
                            <span>14.5%</span>
                        </div>
                        <div class="info-description">
                            <span>작년 대비</span>
                        </div>
                    </li>
                    <li class="info-item">
                        <div class="info-value">
                            <span>123,456</span>
                        </div>
                        <div class="info-description">
                            <span>다른 어떤 데이터</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="js/script/chart.js"></script>
{%  endblock %}
