{% set title = "탄소배출량 산정 시스템 : CO2 배출량 - 수원 사업장" %}
{% extends "layout/base.html" %}

{%  block content -%}
<div id="emissions-workplace2" class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="container-title">
                <span>CO2 배출량 - 수원 사업장</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4">
            <div class="card card-red">
                <div class="center-box">
                    <div class="box-title">
                        <span>올해 총 배출량</span>
                    </div>
                    <div class="box-value">
                        <span id="this-year-total-emissions">-</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="card weather-card">
                <div class="center-box">
                    <div class="box-weather">
                        <img id="weather-icon" src="" alt="">
                        <span id="temperature-value">-</span>
                    </div>
                    <div class="box-weather-small">
                        <img src="images/svg/weather/humidity.svg" alt="">
                        <span id="humidity-value">-</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="card status-card">
                <table class="table table-borderless table-custom1">
                    <thead>
                    <tr>
                        <th scope="col" style="width: 100px">디바이스</th>
                        <th scope="col" style="">전원</th>
                        <th scope="col" style="width: 100px">연결 상태</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">메인 모터</th>
                        <td><input type="checkbox" id="main-motor-toggle-btn" class="switch"></td>
                        <td><img src="images/svg/green_circle.svg" alt=""></td>
                    </tr>
                    <tr>
                        <th scope="row">서브 모터</th>
                        <td><input type="checkbox" id="sub-motor-toggle-btn" class="switch"></td>
                        <td><img src="images/svg/green_circle.svg" alt=""></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-title">
                    <span>오늘 배출량</span>
                </div>
                <div class="chart">
                    <iframe id="today-emissions-chart" src="" frameborder="0"></iframe>
                </div>
                <ul class="chart-info">
                    <li class="info-item">
                        <div class="info-value">
                            <span id="today-total-emissions">-</span>
                        </div>
                        <div class="info-description">
                            <span>총 배출량</span>
                        </div>
                    </li>
                    <li class="info-item">
                        <div class="info-value">
                            <img id="today-compared-to-this-month-average-arrow" src="" alt=""><img src="" alt="">
                            <span id="today-compared-to-this-month-average">-</span>
                        </div>
                        <div class="info-description">
                            <span>이번 달 평균 대비</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card">
                <div class="card-title">
                    <span>이전 배출량</span>
                    <select id="past-emission-chart-date-selector">
                    </select>
                    <select id="yearly-monthly-selector">
                        <option value="daily">일간</option>
                        <option value="monthly">월간</option>
                    </select>
                </div>
                <div class="chart">
                    <iframe id="selected-month-chart" src="" frameborder="0"></iframe>
                </div>
                <ul class="chart-info">
                    <li class="info-item">
                        <div class="info-value">
                            <span id="selected-month-total-emissions">-</span>
                        </div>
                        <div class="info-description">
                            <span>총 배출량</span>
                        </div>
                    </li>
                    <li class="info-item">
                        <div class="info-value">
                            <img id="selected-month-compared-to-last-year-arrow" src="" alt="">
                            <span id="selected-month-compared-to-last-year">-</span>
                        </div>
                        <div class="info-description">
                            <span>작년 대비</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-title">
                    <span>예측 배출량</span>
                </div>
                <div class="chart">
                    <iframe id="prediction-chart" src="" frameborder="0"></iframe>
                </div>
                <ul class="chart-info">
                    <li class="info-item">
                        <div class="info-value">
                            <span id="this-year-total-prediction-emissions">-</span>
                        </div>
                        <div class="info-description">
                            <span>올해 총 예측 배출량</span>
                        </div>
                    </li>
                    <li class="info-item">
                        <div class="info-value">
                            <span id="recent-two-months-prediction-average-error">-</span>
                        </div>
                        <div class="info-description">
                            <span>2개월간 평균 오차</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card">
                <div class="card-title">
                    <span>현재 자원 사용량</span>
                </div>
                <div class="chart">
                    <iframe id="resource-chart" src="" frameborder="0"></iframe>
                </div>
                <ul class="chart-info chart-info--center">
                    <li class="info-item">
                        <div class="info-value">
                            <span id="resource-ratio">-</span>
                        </div>
                        <div class="info-description">
                            <span>자원 사용 비율 (clay ~ silica stone)</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script type="module" src="js/script/chart.js"></script>
<script type="module" src="js/script/weather.js"></script>
<script type="module" src="js/script/library/switchery.js"></script>
<script type="module" src="js/script/censor.js"></script>
{%  endblock %}
