{% set title = "탄소배출량 산정 시스템 : CO2 배출량 - 1번 사업장" %}
{% extends "layout/base.html" %}

{%  block content -%}
<div id="emissions-workplace1" class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="container-title">
                <span>CO2 배출량 - 종합</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4">
            <div class="card card-red">
                <div class="center-box">
                    <div class="box-title">
                        <span>올해 누적 CO2 배출량</span>
                    </div>
                    <div class="box-value">
                        <span id="this-year-total-emissions">-</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2">
            <div class="card weather-card">
                <div class="center-box">
                    <div class="box-weather">
                        <img src="images/svg/weather_clear.svg" alt="">
                        <span>29'C</span>
                    </div>
                    <div class="box-weather-small">
                        <img src="images/svg/water_drop.svg" alt="">
                        <span>50%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card status-card">
                <div class="card-title">
                    <span>상태</span>
                </div>
                <ul class="status-list">
                    <li class="status-item">
                        <span>가스 센서</span>
                        <img src="images/svg/green_circle.svg" alt="">
                    </li>
                    <li class="status-item">
                        <span>유속 센서</span>
                        <img src="images/svg/red_circle.svg" alt="">
                    </li>
                    <li class="status-item">
                        <span>온도 센서</span>
                        <img src="images/svg/green_circle.svg" alt="">
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-title">
                    <span>오늘 배출량</span>
                </div>
                <div class="chart">
                    <iframe id="today-emissions-chart" src="" frameborder="0"></iframe>
                </div>
                <ul class="chart-info">
                    <li class="info-item">
                        <div class="info-value">
                            <span id="today-total-emissions">-</span>
                        </div>
                        <div class="info-description">
                            <span>총 배출량</span>
                        </div>
                    </li>
                    <li class="info-item">
                        <div class="info-value">
                            <img id="today-compared-to-this-month-average-arrow" src="" alt=""><img src="" alt="">
                            <span id="today-compared-to-this-month-average">-</span>
                        </div>
                        <div class="info-description">
                            <span>이번 달 평균 대비</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card">
                <div class="card-title">
                    <span>지난 CO2 배출량</span>
                    <select id="past-emission-chart-date-selector">
                    </select>
                    <select id="yearly-monthly-selector">
                        <option value="daily">일간</option>
                        <option value="monthly">월간</option>
                    </select>
                </div>
                <div class="chart">
                    <iframe id="selected-month-chart" src="" frameborder="0"></iframe>
                </div>
                <ul class="chart-info">
                    <li class="info-item">
                        <div class="info-value">
                            <span id="selected-month-total-emissions">-</span>
                        </div>
                        <div class="info-description">
                            <span>총 배출량</span>
                        </div>
                    </li>
                    <li class="info-item">
                        <div class="info-value">
                            <img id="selected-month-compared-to-last-year-arrow" src="" alt="">
                            <span id="selected-month-compared-to-last-year">-</span>
                        </div>
                        <div class="info-description">
                            <span>작년 대비</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card">
                <div class="card-title">
                    <span>예측 배출량</span>
                </div>
                <div class="chart">
                    <iframe id="" src="" frameborder="0"></iframe>
                </div>
                <ul class="chart-info">
                    <li class="info-item">
                        <div class="info-value">
                            <span id="">-</span>
                        </div>
                        <div class="info-description">
                            <span>총 예측 배출량</span>
                        </div>
                    </li>
                    <li class="info-item">
                        <div class="info-value">
                            <span id="">-</span>
                        </div>
                        <div class="info-description">
                            <span>정확도</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="js/script/chart.js"></script>
{%  endblock %}
