{% set title = "S HERO :: Carbonium Team - status" %}
{% set content = "Dashboard / Home" %}
{% extends "layout/base.html" %}

{%  block content -%}
<div class="card">
    <div class="card-content">
        <div class="card-header">
            <span>Summary</span>
        </div>
        <div class="division-line"></div>
        <div class="list-header">
            <span>Location</span>
        </div>
        <div class="division-line"></div>
        <ul class="list">
            <li>Location 1</li>
            <li>Location 2</li>
            <li>Location 3</li>
        </ul>
    </div>
</div>
<div class="card">
    <div class="card-content">
        <div class="list-header">
            <span>Location</span>
        </div>
        <div class="division-line"></div>
        <ul class="list">
            <li>Location 1</li>
            <li>Location 2</li>
            <li>Location 3</li>
        </ul>
    </div>
</div>
{%  endblock %}
