<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="author" content="701b">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="icon" href="images/svg/logo.svg">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/library/switchery.min.css">
</head>
<body>
    <header>
        <div class="global-nav-container">
            <nav class="global-nav">
                <div class="logo">
                    <a href="/">
                        <span>탄소배출량 산정 시스템</span>
                    </a>
                </div>
                <ul class="global-nav-links">
                    <li><a href="#" id="menu-toggle-btn"><img src="images/svg/menu.svg" alt=""></a>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <nav class="sidebar-nav">
            <ul class="sidebar-nav-links">
                <li class="nav-item">
                    <a href="#">
                        <div>
                            <div class="sidebar-icon" id="ic-chart"></div>
                            <span>CO2 배출량</span>
                        </div>
                        <img src="images/svg/arrow.svg">
                    </a>
                    <ul class="sidebar-detail-nav-links">
                        <li class="nav-item">
                            <a href="/emissions/home">
                                <span>종합</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/emissions/workplace1">
                                <span>사업장 1</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/emissions/workplace2">
                                <span>사업장 2</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/emissions/workplace3">
                                <span>사업장 3</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="/writingData">
                        <div>
                            <div class="sidebar-icon" id="ic-writing"></div>
                            <span>데이터 입력</span>
                        </div>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="content-container">
            <div class="content-main">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </main>
    <footer>
    
    </footer>
    <script src="js/script/base_script.js"></script>
</body>
</html>